@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #333;
    margin: 0;
    padding: 0;
  }

html, body {
  min-height: 100%;
}